
#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(155, 155, 155, 0.5);
    z-index: 10;
}

#instructions {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

::ng-deep .label {
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    background: rgba(0, 0, 0, .6);
    padding: 5px;
    border-radius: 5px;
    border: 1px black solid;
    text-align: center;
}

.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.top {
    top: 0px !important
}

.bottom {
    bottom: 0px !important
}

.w-100 {
    width: 100%;
}

.slider-tooltip {
    background-color: rgba(255, 255, 255, .8);
    padding: 5px;
    border: solid 1px gray;
    border-radius: 5px;
}

.active-mode {
    color: rgba(0, 0, 255, 0.75);
}

.tools-panel {
    top: 0 !important;
    color: white;
    z-index: 10;
}

.example-margin {
    margin: 4px;
}

.example-width {
    max-width: 180px;
    width: 100%;
}

.menu {
    text-align: center;
    background-color: rgba(230, 230, 230, .7);
    border-radius: 5px;
    margin: 10px;
}

::ng-deep .mat-menu-content {
    text-align: center;
}