<div class="rendererContainer" #rendererContainer>

    <div class="position-absolute w-100 tools-panel">

        <div fxLayout="row">
            <div fxFlex="66" (click)="$event.stopPropagation()" fxLayoutAlign="center end" fxFlexOffset="17">

                <button mat-icon-button *ngIf="!explodedView" (click)="focusOnObject()" matTooltip="Focus on object">
                    <mat-icon>center_focus_strong</mat-icon>
                </button>

                <div *ngIf="orbitType=='complex'">
                    <button mat-icon-button *ngIf="!explodedView" (click)="clickMode('selection')"
                        matTooltip="Select object" [ngClass]="activeMode == 'selection' ? 'active-mode' : ''">
                        <mat-icon>touch_app</mat-icon>
                    </button>

                    <button mat-icon-button *ngIf="!explodedView" (click)="clickMode('pan')"
                        matTooltip="Move, rotate and zoom" [ngClass]="activeMode == 'pan' ? 'active-mode' : ''">
                        <mat-icon>pan_tool</mat-icon>
                    </button>

                    <button mat-icon-button *ngIf="!explodedView" (click)="deselectObject()"
                        matTooltip="Deselect object">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <div class="slider-tooltip" *ngIf="explodedView">
                        <mat-slider tickInterval="1" step="0.1" min="0" max="10" aria-label="units"
                            matTooltip="Explode factor" (input)="explodeFactorChange($event)"></mat-slider>
                    </div>

                    <button mat-icon-button (click)="toggleExplodedView()" matTooltip="Exploded view"
                        [disabled]="animating">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>