
<a mat-button class="tb-button-toggle" (click)="toggleSection($event)">
  <tb-icon matButtonIcon *ngIf="section.icon !== null">{{section.icon}}</tb-icon>
  <span>{{section.name | translate}}</span>
  <span class=" pull-right fa fa-chevron-down tb-toggle-icon"
        [ngClass]="{'tb-toggled' : section.opened}"></span>
</a>
<ul id="docs-menu-{{section.name | nospace}}" class="tb-menu-toggle-list" [ngStyle]="{height: sectionHeight()}">
  <li *ngFor="let page of section.pages; trackBy: trackBySectionPages">
    <tb-menu-link [section]="page"></tb-menu-link>
  </li>
</ul>
