
:host {
  display: flex;
  width: 100%;
  height: 100%;

  .tb-invisible {
    display: none !important;
  }

  mat-sidenav-container {
    flex: 1;
  }

  mat-sidenav.tb-site-sidenav {
    width: 250px;

    @media (max-width:456px) {
      width: calc(100% - 56px);
    }

    .tb-nav-header {
      z-index: 2;
      flex-shrink: 0;
      white-space: nowrap;

      .tb-nav-header-toolbar {
        min-height: 70px;
        height: inherit;
        padding: 0;
        z-index: 2;
        flex-shrink: 0;
        white-space: nowrap;
        border-bottom: 1px solid white;

        &>div {
          height: 70px;
          background-color:#fff;

          .tb-logo-title {
            width: auto;
            max-width: 100%;
            height: 48px;
            max-height: 100%;
            margin: auto;
          }
        }
      }
    }

    ::-webkit-scrollbar {
      display: none;
    }

    .tb-side-menu-toolbar {
      overflow-y: auto;
      height: inherit;
      padding: 0;
      background-color:#fff
    }
  }
  .mat-mdc-icon-button{
    color: #2D9CDB !important;
   }

  .tb-primary-toolbar {
    z-index: 2;
    color:#2D9CDB;
    background-color:#fff !important;
    h1 {
      font-size: 24px !important;
      font-weight: 400 !important;
    }
  }
  .tb-main-content {
    overflow: auto;
    position: relative;
  }
}


.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5px;
}


.row {
  display: flex;
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
}


.solution-templates-card {
  flex: 1;
}

.dashboard-card,
.usage-card {
  flex: 1;
}

.activity-card {
  flex: 1;
}
