
@import "../../../../scss/constants";

:host {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  background-color: #fff;

  .mat-content {
    overflow: hidden;
  }

  .mat-padding {
    padding: 0 16px;
  }

  .hide-label {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  tb-timeinterval[ng-reflect-fx-show="true"] {
    margin-bottom: -16px;
  }

  .limit-slider-container {
    .limit-slider-value {
      margin-left: 16px;
      min-width: 25px;
      max-width: 100px;
    }
    mat-form-field input[type=number] {
      text-align: center;
    }
  }

  @media #{$mat-gt-sm} {
    .history-time-input {
      min-width: 364px;
    }
    .limit-slider-container {
      > label {
        margin-right: 16px;
        width: min-content;
        max-width: 40%;
      }
    }
  }

}

:host ::ng-deep {
  .mat-mdc-radio-button {
    display: block;
    .mdc-form-field {
      align-items: start;
      > label {
        padding-top: 10px;
      }
    }
  }
  .mat-mdc-tab-group:not(.tb-headless) {
    height: 100%;
  }
}
