
<mat-form-field [formGroup]="selectEntityFormGroup" class="mat-block" [appearance]="appearance">
  <mat-label>{{ label | translate }}</mat-label>
  <input matInput type="text"
         #entityInput
         formControlName="entity"
         (focusin)="onFocus()"
         [required]="required"
         [matAutocomplete]="entityAutocomplete"
         [fxShow]="!disabled || !selectEntityFormGroup.get('entity').value">
  <a *ngIf="selectEntityFormGroup.get('entity').value && disabled" aria-label="Open device profile" [routerLink]=entityURL>
    {{ displayEntityFn(selectEntityFormGroup.get('entity').value) }}
  </a>
  <button *ngIf="selectEntityFormGroup.get('entity').value && !disabled"
          type="button"
          matSuffix mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
  <mat-autocomplete class="tb-autocomplete"
                    #entityAutocomplete="matAutocomplete"
                    [displayWith]="displayEntityFn">
    <mat-option *ngFor="let entity of filteredEntities | async" [value]="entity">
      <span [innerHTML]="entity.name | highlight:searchText:true:'ig'"></span>
    </mat-option>
    <mat-option *ngIf="!(filteredEntities | async)?.length" [value]="null">
      <span>
          {{ translate.get(noEntitiesMatchingText, {entity: searchText}) | async }}
      </span>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="selectEntityFormGroup.get('entity').hasError('required')">
    {{ requiredErrorText | translate }}
  </mat-error>
</mat-form-field>
