
<mat-form-field [formGroup]="entityListFormGroup" class="mat-block" [ngClass]="{'tb-chip-list': !labelText}" [subscriptSizing]="subscriptSizing">
  <mat-label *ngIf="labelText">{{ labelText }}</mat-label>
  <mat-chip-grid #chipList formControlName="entities">
    <mat-chip-row
      *ngFor="let entity of entities"
      [removable]="!disabled"
      (removed)="remove(entity)">
      {{entity.name}}
      <mat-icon matChipRemove *ngIf="!disabled">close</mat-icon>
    </mat-chip-row>
    <input matInput type="text" placeholder="{{ !disabled ? placeholderText : '' }}"
           #entityInput
           (focusin)="onFocus()"
           formControlName="entity"
           matAutocompleteOrigin
           #origin="matAutocompleteOrigin"
           [matAutocompleteConnectedTo]="origin"
           [matAutocomplete]="entityAutocomplete"
           [matChipInputFor]="chipList">
  </mat-chip-grid>
  <mat-autocomplete #entityAutocomplete="matAutocomplete"
                    class="tb-autocomplete"
                    [displayWith]="displayEntityFn">
    <mat-option *ngFor="let entity of filteredEntities | async" [value]="entity">
      <span [innerHTML]="entity.name | highlight:searchText"></span>
    </mat-option>
    <mat-option *ngIf="!(filteredEntities | async)?.length" [value]="null">
      <span>
          {{ translate.get('entity.no-entities-matching', {entity: searchText}) | async }}
      </span>
    </mat-option>
  </mat-autocomplete>
  <mat-hint *ngIf="hint">
    {{ hint }}
  </mat-hint>
  <mat-error *ngIf="entityListFormGroup.get('entities').hasError('required')">
    {{ requiredText }}
  </mat-error>
  <div matSuffix>
    <ng-content select="[matSuffix]"></ng-content>
  </div>
</mat-form-field>
