<div class="tb-create-password-content mat-app-background tb-dark" fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
  <mat-card appearance="raised" fxFlex="initial" class="tb-create-password-card">
    <div class="tb-create-password-card-content">
      <mat-card-header id="create-password-header">
        <mat-card-title class="layout-padding tb-card-title">
          <span style="color: #ffffff75;">Create Password</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content id="create-password-content">
        <form [formGroup]="createPassword" (ngSubmit)="onCreatePassword()">
          <fieldset [disabled]="isLoading$ | async">
            <div tb-toast fxLayout="column" class="layout-padding" style="height: 70px;">
              <span style="height: 50px;"></span>
              <mat-form-field class="mat-block tb-appearance-transparent" hideRequiredMarker style="width: 100%; max-width: 353px;">
                <mat-label style="color: #ffffff75;" translate>common.password</mat-label>
                <input style="color: #ffffff75;" matInput type="password" autofocus formControlName="password"/>
                <mat-icon style="color: #ffffff75;" class="material-icons" matPrefix>lock</mat-icon>
                <tb-toggle-password matSuffix></tb-toggle-password>
              </mat-form-field>
              <mat-form-field class="mat-block tb-appearance-transparent" hideRequiredMarker style="width: 100%; max-width: 353px;">
                <mat-label style="color: #ffffff75;" translate>login.password-again</mat-label>
                <input style="color: #ffffff75;" matInput type="password" formControlName="password2"/>
                <mat-icon style="color: #ffffff75;" class="material-icons" matPrefix>lock</mat-icon>
                <tb-toggle-password matSuffix></tb-toggle-password>
              </mat-form-field>
              <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="80px" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center start"  style="margin-top: 20px;">
                <button mat-raised-button color="accent" type="submit" [disabled]="(isLoading$ | async)">
                  {{ 'login.create-password' | translate }}
                </button>
                <button mat-raised-button color="warn" type="button" [disabled]="(isLoading$ | async)" routerLink="/login">
                  {{ 'action.cancel' | translate }}
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>