
@import '../../../../../scss/constants';

:host {

  .tb-request-password-reset-content {
    background: linear-gradient(342deg, rgba(2, 0, 36, 1) 1%, rgba(1, 66, 104, 1) 29%, rgba(1, 129, 169, 1) 74%, rgba(0, 212, 255, 1) 95%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    ::-webkit-scrollbar {
      display: none;
    }

    .tb-request-password-reset-card {
      background-color: rgb(197 175 175 / 35%);
      padding: 20px;
      overflow: auto;
      height: 50vh;
      max-height: 300px;
      width: 41vw;
      min-width: 250px;
      max-width: 650px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
      transition: 300ms box-shadow;

      .tb-request-password-reset-card-content {
        min-width: 200px;
        max-width: 1000px;
        height: 100%;
      }
    }

    #reset-password-header,
    #reset-password-content {
      padding: 0px !important;
    }

    #reset-password-header {
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    #reset-password-content {
      height: 80%;
    }
  }
}
