@import '../../../../../scss/constants';

:host {
  display: flex;
  flex: 1 1 0;

  .tb-reset-password-content {
    background: linear-gradient(342deg, rgba(2, 0, 36, 1) 1%, rgba(1, 66, 104, 1) 29%, rgba(1, 129, 169, 1) 74%, rgba(0, 212, 255, 1) 95%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    ::-webkit-scrollbar {
      display: none;
    }

    .tb-reset-password-card {
      background-color: rgba(197, 175, 175, 0.35);
      padding: 20px;
      overflow: auto;
      height: 90vh;
      max-height: 300px;
      width: 90vw;
      max-width: 600px;
      min-width: 300px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
      transition: 300ms box-shadow;
      text-align: center;

      .tb-reset-password-card-content {
        min-width: 200px;
        max-width: 1000px;
        height: 100%;
      }
      
      mat-card-content {
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      mat-form-field {
        width: 100%;
      }

      @media (max-width: 600px) {
        .tb-reset-password-card {
          width: 95vw;
        }

        mat-card-header, mat-card-content {
          padding: 0 10px;
        }

        button {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      button {
        white-space: nowrap; /* Prevent text overflow */
      }
    }
    #reset-password-header {
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    #reset-password-content {
      height: 80%;
    }
  }
}
