
<form [formGroup]="escalationFormGroup" fxLayout="column">
  <div class="escalation" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
    <div fxFlex *ngIf="systemEscalation; else selectTime" translate>notification.first-recipient</div>
    <ng-template #selectTime>
      <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
        <span translate>notification.after</span>
        <tb-timeinterval
          subscriptSizing="dynamic"
          formControlName="delayInSec"
          min="60000"
          max="604800000"
          disabledAdvanced></tb-timeinterval>
        <span fxFlex class="escalation-notify" translate>notification.notify</span>
      </div>
    </ng-template>
    <tb-entity-list
      required
      fxFlex="60"
      formControlName="targets"
      subscriptSizing="dynamic"
      entityType="{{ entityType.NOTIFICATION_TARGET }}"
      subType="{{ notificationType.ALARM }}"
      [placeholderText]="escalationFormGroup.get('targets').value ? '' : ('notification.add-recipient' | translate)">
      <button #createTargetButton
              mat-button [fxHide]="disabled" matSuffix
              (click)="createTarget($event, createTargetButton)">
        <span style="white-space: nowrap">{{ 'notification.create-new' | translate }}</span>
      </button>
    </tb-entity-list>
  </div>
</form>
