
<div class="tb-form-panel" (click)="manageWidgetActions()" style="cursor: pointer;">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <div class="tb-form-panel-title" translate style="padding-right: 48px;">widget-config.actions</div>
    <mat-chip-listbox fxFlex>
      <ng-container *ngFor="let actionSourceId of widgetActionSourceIds">
        <mat-chip *ngFor="let widgetAction of widgetActionsByActionSourceId(actionSourceId)">
          <tb-icon matChipAvatar>{{ widgetAction.icon }}</tb-icon>
          {{ widgetAction.name }}
        </mat-chip>
      </ng-container>
    </mat-chip-listbox>
    <button mat-stroked-button color="primary" *ngIf="!hasWidgetActions">
      {{ 'widget-config.add-action' | translate }}
    </button>
    <button mat-icon-button color="primary" *ngIf="hasWidgetActions">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
